* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

button {
  &:hover {
    cursor: pointer;
  }
}

div#root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  background: #feeee9;
}

.grocery-list {
  padding: 35px;
  margin: 25px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.15);
  position: relative;

  &--container {
    max-width: 425px;
    width: 100%;
    margin: 0 20px;
  }

  &:has(.grocery-list__item-container) {
    .grocery-list__clear {
      display: block;
    }
  }

  h1 {
    font-size: 1.5rem;
    margin: -8px 0 30px 0;
    text-align: center;
    font-weight: 500;
  }

  &__item-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;

      label {
        line-height: 1;
        font-size: 16px;
        text-transform: capitalize;
      }

      input {
        height: 19px;
        width: 19px;

        &:checked {
          & ~ label {
            text-decoration: line-through;
            opacity: 0.6;
          }
        }
      }
    }

    button {
      background: none;
      line-height: 1;
      border: none;

      svg {
        font-size: 1.05rem;
        transition: 0.2s ease;
      }

      &:hover svg {
        color: red;
      }
    }
  }

  &__clear {
    text-align: center;
    display: none;
    margin: 20px auto 0 auto;

    // position: absolute;
    // bottom: 153px;
    // left: 50%;
    // transform: translateX(-50%);
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;

    input,
    button {
      display: block;
      margin: 0 auto;
    }

    input {
      height: 40px;
      flex-grow: 1;
      padding: 0 12px;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }

    button {
      height: 40px;
      width: 40px;
      flex-basis: 40px;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      line-height: 1;
      background: tomato;
      color: #fff;
      border: none;
      transition: 0.3s ease;

      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
}

.alert {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: fade-down 0.5s ease-in-out;
  padding: 8px;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1;

  &-danger {
    background: red;
  }

  &-success {
    background: green;
  }
}

@keyframes fade-down {
  0% {
    transform: translate(-50%, -20px);
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
